nav {
    padding: 1% 0 0 0;
}

nav .container .row {
    margin: 0;
}

nav .container .row .nav_col,
nav .container .row .acc_col {
    display: flex;
    align-items: center;
}

nav .container .row .nav_col div:first-child {
    display: flex;
    justify-content: flex-start;
    padding: 0;
}

@media (max-width:1199px){
    nav {
        padding: 1% 0;
    }
    nav .container .row .nav_col {
        display: block;
        padding: 0;
    }
    nav .container .row .nav_col div:first-child {
        justify-content: center;
        margin-bottom: 15px;
    }
    nav .container .row .nav_col div:last-child {
        padding: 0;
        margin-bottom: 15px;
    }
}