section.utilities .row {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 7.5rem;
}

section.utilities .row:nth-child(1) .col-lg-6:last-child,
section.utilities .row:nth-child(3) .col-lg-6:last-child{
    display: flex;
    justify-content: flex-end;
}

section.utilities .row:nth-child(1) .col-lg-6:first-child,
section.utilities .row:nth-child(3) .col-lg-6:first-child{
    padding-right: 10rem;
}

section.utilities .row:nth-child(2) .col-lg-6:first-child{
    padding-left: 10rem;
}

section.utilities .row:nth-child(2){
    flex-direction: row-reverse;
}

section.utilities .description-title {
    padding: 1rem 0;
}

section.utilities img {
    width: 85%;
}

section.utilities button {
    margin: 1.25rem 0 0 0;
}

@media (max-width:1199px) {
    section.utilities .row {
        margin-bottom: 5rem;
        text-align: center;
    }
    section.utilities .row .col-12 {
        padding: 0 15px !important;
    }
    section.utilities img {
        width: 100%;
        margin-top: 3.5rem;
    }
}
