label {
    background: #d6f4ee;
    color: #00ca9d;
    font-weight: 500;
    font-size: 13px;
    text-transform: uppercase;
    padding: 10px 15px;
    margin-bottom: .5rem;
    border-radius: 5px;
    letter-spacing: .5px;
}