h1.header-title {
    font-size: 2.5rem;
}

h1.description-title {
    font-size: 2rem;
    color: #545f75;
}

h1.thumb-title {
    font-size: 1.5rem;
    font-weight: 400;
}

@media (max-width:1199px){
    h1.header-title {
        font-size: 2rem;
    }
}