section.info {
    margin-bottom: 5rem;
}

@media (max-width:1199){
    section.info {
        margin-bottom: 20rem;
    }
}

section.info .row .col-12 {
    display: flex;
    flex-direction: column;
    padding: 0 5rem;
}

section.info img {
    width: 100px;
    margin-bottom: 20px;
}

@media (max-width:991px){
    section.info .row .col-12 {
        align-items: center;
        padding: 0 15px;
    }
}