section.header {
    height: 90vh;
    background: rgb(34,183,150);
    background: linear-gradient(90deg, rgba(34,183,150,1) 0%, rgba(28,164,154,1) 50%, rgba(21,143,159,1) 100%);
}

section.header .row:last-child {
    width: 100%;
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 0;
}

section.header .row:last-child .circle {
    cursor: pointer;
    width: 50px;
    height: 50px;
    background: #1ba39a;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

section.header .row:last-child .circle:before {
    content: '';
    border-left: 9px solid transparent;
    border-right: 9px solid transparent;
    border-top: 9px solid #1ba39a;
    z-index: 1;
    position: absolute;
    margin-top: 3px;
}

section.header .row:last-child .circle:after {
    content: '';
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-top: 12px solid white;
    position: relative;
    margin-top: 10px;
}

section.header .col {
    display: flex;
    align-items: center;
}

section.header .col:last-child {
    justify-content: flex-end;
    padding-right: 0;
}

section.header h1 {
    color: #ffffff;
}

section.header p {
    color: #ffffff;
    padding: 1.5rem 0;
}

section.header button {
    margin: 0;
}

section.header img.interface {
    width: 80%;
}

@media (max-width:1199px){
    section.header {
        height: 75vh;
    }
    section.header .row:last-child {
        bottom: 5vh;
    }
}

@media (max-width:940px){
    section.header .row:last-child {
        bottom: 0vh;
    }
}