section.footer {
    margin: 5rem 0 2.5rem 0;
}

section.footer .row {
    width: 100%;
}

section.footer .row:first-child{
    margin-bottom: .5rem;
}

section.footer .row .col:last-child {
    display: flex;  
    align-items: center;
}

section.footer ul {
    list-style-type: none;
    padding: 0;
}

section.footer h2 {
    font-size: 17px;
    font-weight: 500;
    color: #545f75;
    padding-bottom: .75rem;
}

section.footer li {
    padding: .35rem 0;
}

section.footer li a {
    color: #b8c0c8;
}

section.footer img {
    width: 150px;
}

section.footer h4 {
    font-size: 12px;
    font-weight: 400;
    margin: 0 0 0 20px;
    color: #b8c0c8;
}

@media (max-width:1199px){
    section.footer {
        margin: 3.5rem 0 2.5rem 0;
    }
    section.footer .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
}