header {
    width: 100%;
    background: rgb(34,183,150);
    background: linear-gradient(90deg, rgba(34,183,150,1) 0%, rgba(28,164,154,1) 50%, rgba(21,143,159,1) 100%);
}

p {
    color: #a1a9b1;
    font-size: 18px;
    margin: 1% 0;
    letter-spacing: .5px;
    line-height: 2;
}

p.info_p {
    color: #a1a9b1;
    font-size: 16px;
}

section {
    display: flex;
    align-items: center;
    width: 100%;
}

@media (max-width:1199px){
    p.info_p {
        font-size: 15px;
    }
}