button {
    padding: 10px 45px !important;
    margin: 0 2.5%;
    border-radius: 50px !important;
    border: none;
    outline: none;
}

button:hover {
    color: #9fedef !important;
}

button:focus,
button:active {
    box-shadow: none !important;
}

button.primary {
    background: #46adaf;
    color: #ffffff;
}

button.secondary {
    background: #ffffff;
    color: #1ca49b;
}

button.terciary {
    background: #1b9b89;
    color: #ffffff;
}

button.quaternary {
    background: #00ca9d;
    color: #ffffff;
}

@media (max-width:1199px){
    button {
        padding: 10px 15px !important;
    }
}