section.description {
    padding: 3.5% 0 5% 0;
    text-align: center;
}

section.description .row:first-child {
    margin-bottom: 1rem;
}

section.description .row:first-child img {
    width: 7px;
    margin-bottom: 1.5rem;
}

section.description .row .col {
    display: flex;
    align-items: center;
}

section.description .row .col:first-child {
    justify-content: flex-end;
}

section.description .row .col:last-child p {
    padding: 0;
}

section.description h1{
    color: #545f75;
}

section.description p {
    padding: 0;
}

section.colored {
    padding-top: 5rem;
    background: rgb(34,183,150);
    background: linear-gradient(90deg, rgba(34,183,150,1) 0%, rgba(28,164,154,1) 50%, rgba(21,143,159,1) 100%);
}

section.colored h1,
section.colored p {
    color: #ffffff;
}

@media (max-width:1199px){
    section.description {
        padding: 3.5rem 0;
    }
    section.description .row:first-child {
        margin-bottom: 0;
    }
    section.description p {
        font-size: 16px;
        padding: 1rem 0;
    }
}

@media (min-width:1200px){
    section.description p {
        padding: 0px 23rem;
    }  
}