li {
    padding: 0 25px;
}

a {
    color: #ffffff;
    font-weight: 400;
}

a:hover {
    color: #9fedef;
    text-decoration: none;
}

@media (max-width:991px){
    li {
        padding: 0 15px;
    }
}